.image-gallery-container {
  margin: 20px;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Адаптивная сетка */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}