.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom: 1px solid var(--border-color);
  text-align: left; /* Выравнивание текста по левому краю */
  font-size: 1.1rem;
  background-color: var(--dark-surface); /* Фоновый цвет для каждого элемента */
}

/* Удаляем нижнюю границу у последнего элемента, чтобы не было дублирования */
.user-list .user-item:last-child {
  border-bottom: none;
}

.user-item span {
  flex-grow: 1;
  color: var(--text-color-light);
}

.user-item button {
  /* Используем общие классы из App.css */
  background-color: var(--danger-color);
  color: white;
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin-left: var(--spacing-sm); /* Отступ от текста */
}

.user-item button:hover {
  background-color: var(--danger-hover-color);
}